:root {
  --cor-0: #ffffff;
  --cor-1: #b2b2b2;
  --cor-2: #595959;
  --cor-3: #2e2e2e;
  --cor-4: #111111;
  --cor-5: #000000;

  --cor-p1: #042940;
  --cor-p2: #005c53;
  --cor-p3: #9fc131;
  --cor-p4: #dbf227;
  --cor-p5: #d6d58e;
}
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}

.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
