.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-menu {
  display: flex;
  gap: 30px;
}
.header img{
  width: 100px;
}
.header-menu a {
  border: 1px solid #11111100;
  background-color: #00000018;
  padding: 10px 20px;
  border-radius: 4px;
}
.header ul a:hover {
  background-color: #daf2272e;
}

