.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 100px;
  align-items: center;
  justify-items: center;
}
.img-perfil {
  width: 300px;
  box-shadow: 0px 0px 8px 3px #ffffff86;
  border-radius: 20% 35% 20% 45%;
}
.introducao-conteudo ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.introducao-conteudo p {
  padding-top: 20px;
}

.introducao-conteudo .contate-me {
  background: linear-gradient(to bottom, #9fc131, #dbf227);
  padding: 7px 15px;
  border-radius: 20px;
}

.introducao-conteudo .icone {
  background-color: #ffffff22;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
}
.contate-me img {
  width: 10px;
  height: 10px;
  padding-left: 10px;
  padding-right: 5px;
  justify-items: center;
}
@media screen and (max-width: 900px) {
  .introducao {
    padding-top: 20px;
  }
  .introducao, .introducao-conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .introducao-conteudo > h1 {
    font-size: 2.5rem;
  }
  .introducao-conteudo > p {
    font-size: 1rem;
  }
} 
