.sobre-mim{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  gap: 20px;
}
.sobre-mim > img{
  width: 400px;
  border-radius: 4px;
}
.sobre-mim-conteudo p{
padding-top: 20px;
}
